.loginBlock {
    width: 500px;
    height: auto;
    border: 1px solid black;
    text-align: center;
}

.loginForm {
    display: flex;
    flex-flow: column;
    align-items: center;
}

input {

}

.input-name {

}

.input-password {

}